doctype html
html
	head
		title= title
		link(href='/stylesheets/css/base.css' rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700', rel='stylesheet', type='text/css')
	body
		block content
	script(src='/javascripts/build/app.js')
